#board {
  background-color: rgb(210, 210, 210);
  background-size: cover;
  border: 1px solid black;
  height: 600px;
  width: 600px;
}
.one {
  background-color: rgb(107, 107, 207);
  background-size: cover;
  width: 120px;
  height: 120px;
  padding: 5px;
  margin: 10px;
  float: left;
  display: none;
}
.other {
  background-color: rgb(143, 71, 71);
  background-size: cover;
}
.hidden {
  display: none;
}
.visible {
  display: block;
}

button {
  display: block;
}
